<% include partials/header%>    
   
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid px-lg-5" style="background-color: rgb(0,0,0,0.2); width: 100%;">
      <div class="collapse navbar-collapse" id="ftco-nav">
        <a class="navbar-brand" href="index.html" style="font-weight: 800; color:#23c4da;">Aspiration</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link">About us</a></li>
          <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
          <li class="nav-item"><a href="causes.html" class="nav-link">Causes</a></li>
          <li class="nav-item"><a href="facts.html" class="nav-link">Facts</a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->

  <div class="hero-wrap" style="background-image: url('images/disturb.jpeg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
        data-scrollax-parent="true">
        <div class="col-md-12 text ftco-animate mt-5 text-center" data-scrollax=" properties: { translateY: '70%' }">
          <div class="play-video d-flex align-items-center justify-content-center" style="opacity: 0.5;"><a href="https://vimeo.com/45830194"
              class="popup-vimeo"><span class="icon"><i class="ion-ios-play "></i></span></a></div>
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Give up Plastic bottles To
            Make The Better World</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-no-pt ftco-no-pb ftco-volunteer">
    <div class="container-fluid px-md-0">
      <div class="row no-gutters">
        <div class="col-md-6 img-volunteer">
          <div class="row no-gutters justify-content-end">
            <div class="col-lg-7">
              <div class="text py-5 pl-md-4 pr-md-3">
                <h2 class="mb-4">Works to make a clean enviornment</h2>
                <p>We help to get rid of plastic bottles which can be reused to get a plastic free world and get offers/vouchers.</p>
                <p><a href="#" class="btn btn-primary py-3 px-4">Become a User</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center bg-primary">
          <div class="about-text px-3 py-5 pl-md-5 pr-md-5">
            <h2>Supply the company with plastic bottles to reduce it's expenses</h2>
            <p>Supply the company with plastic bottle which can be reused or recycled to save the company's expenser</p>
            <p><a href="#" class="btn btn-black py-3 px-4">Become a distributer</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h2 class="mb-4">About Us</h2>
        </div>
      </div>
      <div class="row justify-content-center ftco-animate">
        <div class="col-md-8">
          <div class="featured-causes">
            <div class="text mt-4 d-md-flex">
              <div class="one d-flex">
                <div class="mr-4">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-causes">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-10 heading-section text-center ftco-animate">
          <h2 class="mb-4">Our Priorities</h2>
          <p>Make a green and plastic free Earth by reusing or recycling plastic</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="causes causes-2 text-center ftco-animate">
            <div class="img" style="background-image: url(images/recycle.jpeg);"></div>
            <h2>Recycle Plastic</h2>
            <p>Recycling the plastic bottle after their use.</p>

          </div>
        </div>
        <div class="col-md-6">
          <div class="causes causes-2 text-center ftco-animate">
            <div class="img" style="background-image: url(images/reusing.jpeg);"></div>
            <h2>Reuse the Plastic Bottle</h2>
            <p>Reuse the plastic bottles which can be reused again after their use.</p>

          </div>
        </div>

      </div>
    </div>
    </div>

    </div>
  </section>

<% include partials/footer%>
